<h2>プロフィール編集画面ですわ</h2>
<%= form_with model: @user do |f| %>
  <label for="inputName">Name</label>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前" %>
  <label for="inputImage">プロフ画像</label>
  <%= f.file_field :user_image, id:"inputImage", accept: "image/*" %>
  <%= f.submit '変更を保存' %>
<% end %>