<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_user_image(100,100) %>
  <% if @user == current_user %>
    <%= link_to 'プロフ編集', edit_user_path(@user) %>
  <% end %>
</div>

<%= render 'posts/list', posts: @posts %>